@page
@model KoiCenter.WebApp.Pages.KoiFish.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.LastHealthCheck)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.LastHealthCheck)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.HealthStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.HealthStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Owner.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.PetType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.PetType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pet.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
